<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Yugal Kishor Joshi. This website takes data from weatherstack.com and mapbox.com. The main purpose of creating this website was to learn.
<br/></p>
        <img class="portrait" src="/img/me.png">
        <br/><p>If you have any query related to this website, you can contact us. Our email id is: - yugalomg@gmail.com</p>
    </div>
    
    {{>footer}}
</body>

</html>